vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2012 07:23:43 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|05 Nov 2012 03:25:09 -0000
vti_filesize:IR|3776
vti_cachedlinkinfo:VX|S|../images/h_bg.gif S|../images/td_title.gif S|../images/bg_th.png S|../images/cate_label_img.gif
vti_cachedsvcrellinks:VX|FSUS|xampp/htdocs/ss/administrator/images/h_bg.gif FSUS|xampp/htdocs/ss/administrator/images/td_title.gif FSUS|xampp/htdocs/ss/administrator/images/bg_th.png FSUS|xampp/htdocs/ss/administrator/images/cate_label_img.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
