vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Nov 2012 02:32:26 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|05 Nov 2012 02:32:26 -0000
vti_filesize:IR|2502
vti_cachedlinkinfo:VX|S|../images/say.gif S|../images/user.gif S|../images/email.gif S|../images/phone.gif S|../images/reply.gif S|../images/no_reply.gif S|../images/write.gif
vti_cachedsvcrellinks:VX|FSUS|xampp/htdocs/ss/administrator/images/say.gif FSUS|xampp/htdocs/ss/administrator/images/user.gif FSUS|xampp/htdocs/ss/administrator/images/email.gif FSUS|xampp/htdocs/ss/administrator/images/phone.gif FSUS|xampp/htdocs/ss/administrator/images/reply.gif FSUS|xampp/htdocs/ss/administrator/images/no_reply.gif FSUS|xampp/htdocs/ss/administrator/images/write.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
