vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jun 2012 08:54:09 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|17 Jun 2012 08:54:09 -0000
vti_filesize:IR|1047
vti_cachedlinkinfo:VX|S|../images/home.gif S|../images/home.gif S|../images/home.gif S|../images/admin.gif S|../images/date.gif
vti_cachedsvcrellinks:VX|FSUS|xampp/htdocs/ss/administrator/images/home.gif FSUS|xampp/htdocs/ss/administrator/images/home.gif FSUS|xampp/htdocs/ss/administrator/images/home.gif FSUS|xampp/htdocs/ss/administrator/images/admin.gif FSUS|xampp/htdocs/ss/administrator/images/date.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
