vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Dec 2011 11:17:08 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|14 Dec 2011 11:17:08 -0000
vti_filesize:IR|5312
vti_cachedlinkinfo:VX|S|../img/form-ic-info.png S|../img/form-ic-warning.png S|../img/form-ic-error.png S|../img/form-ic-success.png
vti_cachedsvcrellinks:VX|FSUS|xampp/htdocs/ss/img/form-ic-info.png FSUS|xampp/htdocs/ss/img/form-ic-warning.png FSUS|xampp/htdocs/ss/img/form-ic-error.png FSUS|xampp/htdocs/ss/img/form-ic-success.png
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
