h2 {
	margin:20px 20px 0 0;
	padding:6px 0 6px 15px;
	background:#797E89;
	color:#fff;
	font-size:14px;
}
.tools {
	margin:0 20px 20px 0px;
	padding:5px 15px 15px 15px;
	background:#D0DCE0;
}
.tools p {
	margin:10px 0 6px 0;
}